{% load static %}
<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container-fluid">
      <h3>Open Heavens Ministry</h3>
      <p>Follow us on our social media and get blessed everyday by Prophet Allan Jomba</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="youtube"><i class="bx bxl-youtube"></i></a>
      </div>
      <div class="credits">
        <h5>Watch Heavens Tv and Get Blessed</h5>
        <img src="{% static 'assets/img/HTV LOGO IDENT GOLD SHADE (1).png' %}" width="100" height="100"><br>   
      </div><br>

      <div class="copyright">
        &copy;  <strong><span></span></strong>Copyrights Open Heavens Ministry All rights reserved.{% now "Y" %}
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>