<div class="forms">
 <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
          <form  method="POST" action="">
            {% csrf_token %}
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text"  name="email" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password"  name="password" placeholder="Enter your password" required>
              </div>
              <div class="text"><a href="{% url 'request-password' %}">Forgot password?</a></div>
              <div class="button input-box">
                <input type="submit" value="Login">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
              <div class="text sign-up-text">
              	Return To Homepage <a href="{% url 'home' %}">Home</a>
              </div>
 </div>
          </form>
</div>