{%load static%}
<!DOCTYPE html>
<!-- favicon icon-->
     <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico'%}">
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="{% static 'assets/css/form.css' %}">
   <title>Register</title>
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.tutorialjinni.com/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <script src="https://cdn.tutorialjinni.com/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">

    <div class="cover">
      <div class="front">
        <img src="{% static 'assets/img/frontImg.jpg' %}" alt="">
        <div class="text">
          <span class="text-1">Every new Partner is a <br> Gift to  the needy </span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="{% static 'assets/img/backImg.jpg' %}" alt="">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
       {% include 'partnership/login.html'%}
        <div class="signup-form">
          <div class="title">Signup</div>
        <form  method="POST" action="">
          {%csrf_token%}
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                {{form.username}}
               <!--input type="text" placeholder="Enter your First_name" -->
              </div>
              <div class="input-box">
                <i class="fas fa-user"></i>
                {{form.first_name}}
               <!--input type="text" placeholder="Enter your First_name" -->
              </div>
             
              <div class="input-box">
                <i class="fas fa-user"></i>
                {{form.last_name}}
              </div>
              
              <div class="input-box">
                <i class="fa fa-phone"></i>
                {{form.phone}}
              </div>
              
              <!-- adding all country code list -->
               <!--div class="input-box">
                 <i class="fa fa-phone"></i>
                  <input type="text" placeholder="Phone number *" name="phone" id="phone" required autofocus>
               </div-->
              <div class="input-box">
                <i class="fas fa-flag"></i>
                {{form.country}}
              </div>
              
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                 {{form.email}}
              </div>
             
              <div class="input-box">
                <i class="fas fa-lock"></i>
                {{form.password1}}
              </div>
              
               <div class="input-box">
                <i class="fas fa-lock"></i>
                {{form.password2}}
              </div>
              
              <div class="button input-box">
                <input type="submit" value="Register Account">
              </div>

              <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
    {% include 'main/messages.html'%}
  </div>
</body>
    <!-- Javascript to initialize the code list -->
      <script>

    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
    form_fields[6].placeholder='Enter Your username';
    form_fields[7].placeholder='Enter Your First Name';
    form_fields[8].placeholder='Enter Your Last Name';
    form_fields[9].placeholder='Enter Your Phone Number with country code';
    form_fields[10].placeholder='Enter Your country Name';
    form_fields[11].placeholder='Enter Your Email';
    form_fields[12].placeholder='Enter password';
    form_fields[13].placeholder='Confirm password';



    for (var field in form_fields){ 
      form_fields[field].className += ' form-control'
    }
  </script>
</html>
 

